.pdly__cta-btn{
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.7rem 1.6rem;
    background-color: var(--theme-primary);
    color: #fff;
    font-weight: var(--font-semibold);
}

.pdly__cta-btn.outlined{
    border: 1px solid var(--theme-purple);
    background-color: transparent;
    color: var(--theme-purple);
}



